<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalles del Envío</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div padding class="fondotodo">



        <ion-grid>
          <ion-row>
        
              <ion-col>
        
                </ion-col>
        
            <ion-col no-padding col-10 col-lg-6>
                <ion-item *ngIf="id != null">
                    <ion-label>Clientes</ion-label>
                    <ion-select [(ngModel)] = "envioDetalle2.cliente" >
                      <ion-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.name}}</ion-option>
                    </ion-select>
                  </ion-item>
            </ion-col>
        
            <ion-col>
        
              </ion-col>
        
          </ion-row>
          
        
          <ion-row>
            <ion-col>
        
            </ion-col>
        
            <ion-col no-padding col-10 col-lg-6>
                <ion-item *ngIf="id != null">
                    <ion-label>Sucursal</ion-label>
                    <ion-select [(ngModel)] = "envioDetalle2.sucursal" >
                      <ion-option *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.name}}</ion-option>
                    </ion-select>
                  </ion-item>
            </ion-col>
        
            <ion-col>
              
            </ion-col>
          </ion-row>
        
          <ion-row>
              <ion-col>
          
              </ion-col>
          
              <ion-col no-padding col-10 col-lg-6>
                  <ion-item *ngIf="id != null">
                      <ion-label>Dirección</ion-label>
                      <ion-input *ngIf="id != null" type="text" [(ngModel)] = "envioDetalle2.destino"> </ion-input>
                    </ion-item>
              </ion-col>
          
              <ion-col>
                
              </ion-col>
            </ion-row>
        
            <ion-row>
                <ion-col>
            
                </ion-col>
            
                <ion-col  no-padding col-10 col-lg-6>
                    <ion-item *ngIf="id != null && id != 0">
                        <ion-label>Cadetes</ion-label>
                        <ion-select [(ngModel)] = "envioDetalle2.cadete" >
                          <ion-option *ngFor="let cadete of cadetes" value="{{cadete.id}}">{{cadete.nombre}}</ion-option>
                        </ion-select>
                      </ion-item>
                </ion-col>
            
                <ion-col>
                  
                </ion-col>
              </ion-row>
        
              <ion-row>
                <ion-col>
        
                </ion-col>
                <ion-col no-padding col-10 col-lg-6>
                    <ion-item *ngIf="id != null && id !=0">
                        <ion-label>Estado</ion-label>
                        <ion-select *ngIf="id != null" [(ngModel)] = "envioDetalle2.estado">
                          <ion-option>Pendiente</ion-option>
                          <ion-option>En Camino</ion-option>
                          <ion-option>Entregado</ion-option>
                          <ion-option>Cancelado</ion-option>
                        </ion-select>
                      </ion-item>
                  </ion-col>
                  <ion-col>
                  
                    </ion-col>
              </ion-row>
        
              <ion-row>
                  <ion-col>
          
                  </ion-col>
                  <ion-col no-padding col-10 col-lg-6>
                      <div padding> <!--si no estaba adentro del div no andaba el boton, o tenia un parentesis de mas en "guardarEnvio())>-->
                        <button ion-button block (click)="guardarEnvio()">Guardar</button>
                    </div>
                    <div padding> <!--si no estaba adentro del div no andaba el boton, o tenia un parentesis de mas en "guardarEnvio())>-->
                      <button *ngIf="id != 0"  ion-button block (click)="eliminarEnvio()" color="danger">Eliminar</button>
                  </div>
                    </ion-col>
                    <ion-col>
                    
                      </ion-col>
                </ion-row>
              
    
        
        </ion-grid>


</div>
   
</ion-content>
